/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-BMI .header {
  color: #62FF00;               /* Header color. */
}

.MMM-BMI .calc {
  color: #62FF00;               /* calc color. */
}

.MMM-BMI .diagnosis {
  color: #62FF00;               /* diagnosis color. */
}

.MMM-BMI .spacer {
  color: #62FF00;               /* spacer color. */
}

.MMM-BMI .herCalc {
  color: #62FF00;               /* herCalc color. */
}

.MMM-BMI .herDiagnosis {
  color: #62FF00;               /* herDiagnosis color. */
}
